@font-face {
    font-family: "Firenight-Regular";
    src:url(fonts/Firenight-regular.otf);
}
@font-face {
    font-family: "Makan Hati Cyrillic-Regular";
    src:url(fonts/MakanHatiCyrillic.otf);
}
@font-face {
    font-family: "NtSomic-Regular";
    src:url(fonts/NTSomic-Regular.otf);
}
@font-face {
    font-family: "NtSomic-Bold";
    src:url(fonts/NTSomic-Bold.otf);
}
@font-face {
    font-family: "NtSomic-Medium";
    src:url(fonts/NTSomic-Medium.otf);
    font-style: normal;
    font-weight: 1 1000;
    }



